@page
@model Haik.Pages.AddSummaryModel
@{
}
<form method="post" asp-route-id="@Model.id">
    <h1 class="card-title">Legg till oppsumering</h1><br />
    <div class="p-3 mb-2 bg-info text-white">

        <label for="description"> Oppsumering: </label>
        <textarea asp-for="walkViewModel.Summary" value="@Model.trip.Summary" class="form-control" id="description" placeholder="Oppsummering..."></textarea><br />

  


        <button type="submit" class="btn btn-light">Legg til Oppsummering</button>
    </div>
</form>
