@page
@model Haik.Pages.DeleteCommentModel
@{
}

<form asp-route-id="@Model.id" asp-route-index="@Model.index">
    <p>Er du sikker på at du vil slette kommentaren?</p>
    <button type="submit" class="btn btn-lg btn-danger">Ja</button>
    <a asp-page="/SeeTrip" asp-route-id="@Model.id">
        <button type="button" class="btn btn-lg btn-info">Nei</button>
    </a>
</form>

