@page
@model Haik.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" />

<style>
    body {
        background-image: url(../Pictures/logInBackground.jpg);
        background-size: cover;
        background-position: center;
        height: 960px;
        text-align: center;
        position: relative;
    }

    h1 {
        text-align: center;
    }

    div {
        text-align: center;
    }

    button {
        text-align: center;
    }
</style>




<div class="text-center" style=" text-align: center">

    <form id="register_form" method="post">

        <div class="container bg-light" style="width: 350px; height: 500px" ;>
            <h1 class="display-3 text-info"><b>Logg inn</b></h1><br><br />
            <label asp-for="loginViewModel.Email"><b>Brukernavn:</b></label><br>
            <input asp-for="loginViewModel.Email" type="text" id="email" name="email" required placeholder="olanordmann"><br>
            <br />



            <label for="password"><b>Passord:</b></label><br>
            <input asp-for="loginViewModel.Password" type="password" id="password" name="password" required placeholder="*********"><br><br><br />

            <div class="text-danger" asp-validation-summary="All"></div>

            <button type="submit" class="btn btn-info">Logg inn </button><br><br>


            <label>
                <input type="checkbox" checked="checked" name="remember"> Husk meg
            </label>


        </div>



    </form>
</div>




<!---

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Lag bruker</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"> </div>
                <div class="mb-3">
                    <label class="hallo" asp-for="loginViewModel.Email">Email</label>
                    <input type="text" asp-for="loginViewModel.Email" class="form-control" />
                    <span asp-validation-for="loginViewModel.Email" class="text-danger" />
                </div>
                <p style="background-image: url('loginnbilde.jfif');">
                    <img src="~/Pictures/loginnbilde.jfif" />

                </p>

                    <div class="mb-3">
                        <label class="form-label" asp-for="loginViewModel.Password">Passord</label>
                        <input type="password" asp-for="loginViewModel.Password" class="form-control" />
                        <span asp-validation-for="loginViewModel.Password" class="text-danger" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="loginViewModel.StaySignedIn">Forbli innlogget?</label>
                        <input type="checkbox" asp-for="loginViewModel.StaySignedIn" class="form-control" />
                        <span asp-validation-for="loginViewModel.StaySignedIn" class="text-danger" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Logg inn</button>
                    </div>

            </form>
        </div>
    </div>
</div>
    -->
