@page
@model Haik.Pages.RegisterModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/logInsite.css" />

<style>
    .display-4 {
        margin-left: 550px;
    }


    form {
        margin-left: 550px;
        height: 600px;
    }

 

</style>

<div style="float: left">
    <img src="~/Pictures/Hiking-register.jpg"
         width="500"
         height="650" />

</div>

<div class="text-center" style="text-align: right;">
    <h1 class="display-4">Registrer bruker</h1><br>
    <form id="register_form" method="post">
        <label for="fname">Fornavn:</label>
        <input asp-for="registerViewModel.FirstName" type="text" id="fname" name="fname" required placeholder="Ola"><br><br>

        <label for="lname">Etternavn:</label>
        <input asp-for="registerViewModel.LastName" type="text" id="lname" name="lname" required placeholder="Nordmann"><br><br>

        <p>
            Velg kjønn:
            <input asp-for="registerViewModel.Gender" type="radio" id="gender_female" name="gender" value="female">
            <label for="female">Kvinne</label>
            <input asp-for="registerViewModel.Gender" type="radio" id="gender_male" name="gender" value="male">
            <label for="mae">Mann</label>
            <input asp-for="registerViewModel.Gender" type="radio" id="gender_other" name="gender" value="other">
            <label for="other">Annet</label><br>
        </p>

        <label for="email">E-post:</label>
        <input asp-for="registerViewModel.Email" type="email" id="email" name="email" required placeholder="olanordmann@epost.no"><br><br>

        <label for="date">Fødselsdato:</label>
        <input asp-for="registerViewModel.DateOfBirth" type="date" id="date" name="date" required value="YYYY-MM-DD" min="1900-01-01" max="2022-02-10"><br><br>

        <br>
        <label for="username">Brukernavn:</label>
        <input asp-for="registerViewModel.UserName" type="text" id="username" name="username" required placeholder="olanordmann"><br><br>

        <label for="description">Beskrivelse:</label>
        <textarea asp-for="registerViewModel.Description" name="description" form="register_form" placeholder="Skriv litt om deg selv..."></textarea><br><br>

        <label for="password">Passord:</label><br>
        <input asp-for="registerViewModel.Password" type="password" id="password" name="password" required placeholder="*********"><br><br>

        <label for="rpassword">Gjenta passord:</label><br>
        <input asp-for="registerViewModel.ConfirmPassword" type="password" id="rpassword" name="rpassword" required placeholder="*********"><br><br>

                </div>
            </div>
       

            <div class="form-group">
                <p>

                    Velg kjønn: <br />
                    <input type="radio" id="gender_female" name="gender" value="female">
                    <label for="female">Kvinne</label>
                    <input type="radio" id="gender_male" name="gender" value="male">
                    <label for="mae">Mann</label>
                    <input type="radio" id="gender_other" name="gender" value="other">
                    <label for="other">Annet</label><br>
                </p>
            </div>
      



            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="date">Fødselsdato:</label><br>
                    <input type="date" id="date" name="date" required value="YYYY-MM-DD" min="1900-01-01" max=document.write(new Date().toLocaleDateString()); />
                    <br><br>
                </div>
                <div class="form-group col-md-4">

                    <label for="description">Beskrivelse:</label><br />
                    <textarea name="description" form="register_form" placeholder="Skriv litt om deg selv..."></textarea><br><br>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="password">Passord:</label><br />
                    <input type="password" id="password" name="password" required placeholder="*********"><br><br>
                </div>
                <div class="form-group col-md-4">
                    <label for="rpassword">Gjenta passord:</label><br />
                    <input type="password" id="rpassword" name="rpassword" required placeholder="*********"><br><br>

                </div>
            </div>
        


        <button type="submit" class="registerbtn">Registrer Bruker </button>



    </form>


<!---form-group col-lg-12-->
