@page
@model Haik.Pages.RegisterModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" />

<style>
    .display-4 {
        margin-left: 550px;
    }


    form {
        margin-left: 550px;
        background-size: cover;
        background-position: center;
        height: 960px;
    }

        form input {
            margin-right: 20px;
        }
</style>

<h1 class="display-4 text-info"><b>Registrer bruker</b></h1>
<br />

<div style="float: left">
    <img src="~/Pictures/Hiking-register.jpg"
         width="500"
         height="810" />

</div>

<form asp-action="Register" id="register_form" method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.FirstName" for="Firstname">Fornavn:</label>
            <input asp-for="registerViewModel.FirstName" type="text" id="firstname" name="FirstName" required placeholder="Ola" /><br><br>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.LastName" for="Lastname">Etternavn:</label>
            <input asp-for="registerViewModel.LastName" type="text" id="lastname" name="LastName" required placeholder="Nordmann" /><br><br>
        </div>
    </div>
    <div class="form-group">
        <p>

            Velg kjønn:
            <label for="female">Kvinne</label>
            <input type="radio" id="gender_female" name="gender" value="female">
            <label for="male">Mann</label>
            <input type="radio" id="gender_male" name="gender" value="male">
            <label for="other">Annet</label>
            <input type="radio" id="gender_other" name="gender" value="other">

        </p>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.DateOfBirth" for="DateOfBirth">Fødselsdato:</label>
            <input asp-for="registerViewModel.DateOfBirth" type="date" id="date" name="DateOfBirth" required value="YYYY-MM-DD" min="1900-01-01" max="2022-02-10" /><br><br>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.Email" for="Email">E-post:</label>
            <input asp-for="registerViewModel.Email" type="email" id="email" name="Email" required placeholder="olanordmann@epost.no" /><br><br>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.UserName" for="Username">Brukernavn:</label>
            <input asp-for="registerViewModel.UserName" type="text" id="username" name="Username" required placeholder="olanordmann" /><br><br>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.Description" for="description">Beskrivelse:</label><br />
            <textarea asp-for="registerViewModel.Description" name="description" form="register_form" placeholder="Skriv litt om deg selv..."></textarea><br>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.Password" for="Password">Passord:</label><br>
            <input asp-for="registerViewModel.Password" type="password" id="Password" name="Password" required placeholder="*********" /><br><br>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="registerViewModel.ConfirmPassword" for="ConfirmPassword">Gjenta passord:</label><br>
            <input asp-for="registerViewModel.ConfirmPassword" type="password" id="ConfirmPassword" name="ConfirmPassword" required placeholder="*********" /><br><br>
        </div>
    </div>

    Kommersiell bruker?
    <label for="true">Ja</label>
    <input type="radio" name="IsCommercial" value="True">
    <label for="false">Nei</label>
    <input type="radio" name="IsCommercial" value="False">




    <div class="form-row border border-info text-black-50">
        <div class="p-3 mb-2">
            <label for="adminTekst">Er du administrator? </label><br />
            <label for="APIkey">Oppgi API-nøkkel:</label><br />
            <input asp-for="registerViewModel.APIkey" type="text" name="APIKey" placeholder="*********" />
        </div>
    </div>
    <br />

    <button type="submit" class="btn btn-info">Registrer Bruker </button>
    <br />
    <div asp-validation-summary="All" class="text-danger"> </div>

</form>
