@page
@model Haik.Pages.SearchModel
@{
}
<div class="container">
    <form asp-route-id="" asp-page="/Search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Hvor vil du på din neste tur?" name="search">
            <select>
                <option value="#">Sorter turer</option>
                <option value="#">Kommende</option>
                <option value="#">Fullførte</option>
                <option value="#">Dato, synkende</option>
                <option value="#">Dato, stigende</option>
            </select>
            <button>SØK</button>
        </div>
    </form>
</div>