.container {
    max-width: 100%;
    margin: 0;
}

.mainIntroductionContainer {
    background-image: url(../Pictures/indexBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 960px;
    text-align: center;
    color: white;
    position: relative;
}
.mainIntroductionContainer p {
    width: 60%;
    position: absolute;
    bottom: 10%;
}
.mainIntroductionContainer .indexBtnContainer {
    position: absolute;
    bottom: 50%;
    left: 20%;
}
.mainIntroductionContainer .indexBtnContainer a{
    margin: 50px;
}
.indexSearchBarContainer {
    height: 300px;
    background-image: url(../Pictures/indexSearchBackground.jpg);
    background-position-y: 50%;
    background-size:cover;
    position: relative;
    margin-bottom: 20px;
}
.indexSearchBarContainer form {
    position: absolute;
    width: 50%;
    top: 45%;
    left: 30%;
    margin: auto;
}

.indexLoggedInMainContainer {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
}

.indexLoggedInMainContainer .createTripContainer{
    width: auto;
    position: center;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;


}
    .indexLoggedInMainContainer .personalInfoLoggedInContainer > div {
        height: 200px;
        display: grid;
        margin-bottom: 20px;
        border-bottom: cadetblue 1px;
        text-align: center;
    }


.allTrips {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 30px;
}
.tripElementLinkIndex {
    border-bottom: grey solid 3px;
    color: black;
}
.tripElementIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align:left;
}
.allTripsLoggedInContainer {
    text-align: center;
}