.container {
    max-width: 100%;
    margin: 0;
}

.mainIntroductionContainer {
    background-image: url(../Pictures/indexBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 960px;
    text-align: center;
    color: white;
    position: relative;
}
.mainIntroductionContainer p {
    width: 60%;
    position: absolute;
    bottom: 10%;
}
.mainIntroductionContainer .indexBtnContainer {
    position: absolute;
    bottom: 50%;
    left: 20%;
}
.mainIntroductionContainer .indexBtnContainer a{
    margin: 50px;
}
